<meta name="description" content="{{ .Params.excerpt }}">
{{ if eq .Params.section "project"}}
  <!-- Search Engine Tags -->
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Params.excerpt }}">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/i/work/{{ .Params.post_image }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Params.excerpt }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}/i/work/{{ .Params.post_image }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Params.excerpt }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/i/work/{{ .Params.post_image }}">
{{ else }}
  <!-- Search Engine Tags -->
    <meta itemprop="name" content="{{ .Title }}">
    <meta itemprop="description" content="{{ .Params.excerpt }}">
    <meta itemprop="image" content="{{ .Site.BaseURL }}/i/blog/{{ .Params.post_image }}">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Params.excerpt }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}/i/blog/{{ .Params.post_image }}">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Params.excerpt }}">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}/i/blog/{{ .Params.post_image }}">
{{ end }}
