<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<!-- Search Engine Tags -->
<meta itemprop="name" content="Ramiro Ruiz">
<meta itemprop="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta itemprop="image" content="https://ramiroruiz.com/preview.jpg">
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://ramiroruiz.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Ramiro Ruiz">
<meta property="og:description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta property="og:image" content="https://ramiroruiz.com/preview.jpg">
<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Ramiro Ruiz">
<meta name="twitter:description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<meta name="twitter:image" content="https://ramiroruiz.com/preview.jpg">
